dot-net_version/Designer/FireWorkflow.Net.Designer/Service References/DesignerServiceReference/DesignerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51851/DesignerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FireWorkflow.Net.Engine.Impl" />
  <xs:import schemaLocation="http://localhost:51851/DesignerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FireWorkflow.Net.Engine.Definition" />
  <xs:element name="GetWorkflowProcessXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowProcessXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkflowProcessXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowProcessXmlProcessIdOrVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowProcessXmlProcessIdOrVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkflowProcessXmlProcessIdOrVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessInstanceTraceXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processInstanceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessInstanceTraceXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FireWorkflow.Net.Engine.Impl" minOccurs="0" name="GetProcessInstanceTraceXmlResult" nillable="true" type="q1:ArrayOfProcessInstanceTrace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLatestVersionsOfWorkflowDefinition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLatestVersionsOfWorkflowDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FireWorkflow.Net.Engine.Definition" minOccurs="0" name="GetAllLatestVersionsOfWorkflowDefinitionResult" nillable="true" type="q2:ArrayOfWorkflowDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrUpdateWorkflowProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowProcessXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
        <xs:element minOccurs="0" name="isState" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrUpdateWorkflowProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOrUpdateWorkflowProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>