trunk/dot-net_version/Designer/FireWorkflow.Net.Designer/Service References/DesignerServiceReference/DesignerService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FireWorkflow.Net.Engine.Definition" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FireWorkflow.Net.Engine.Definition" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWorkflowDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkflowDefinition" nillable="true" type="tns:WorkflowDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkflowDefinition" nillable="true" type="tns:ArrayOfWorkflowDefinition" />
  <xs:complexType name="WorkflowDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WorkflowDefinitionInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProcessContent" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkflowDefinition" nillable="true" type="tns:WorkflowDefinition" />
  <xs:complexType name="WorkflowDefinitionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefinitionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PublishUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
      <xs:element minOccurs="0" name="UploadTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UploadUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowDefinitionInfo" nillable="true" type="tns:WorkflowDefinitionInfo" />
</xs:schema>