dot-net_version/Designer/FireWorkflow.Net.Designer.View/Service References/DesignerServiceReference/DesignerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FireWorkflow.Net.Engine.Impl" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FireWorkflow.Net.Engine.Impl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProcessInstanceTrace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessInstanceTrace" nillable="true" type="tns:ProcessInstanceTrace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessInstanceTrace" nillable="true" type="tns:ArrayOfProcessInstanceTrace" />
  <xs:complexType name="ProcessInstanceTrace">
    <xs:sequence>
      <xs:element minOccurs="0" name="EdgeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromNodeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToNodeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessInstanceTrace" nillable="true" type="tns:ProcessInstanceTrace" />
</xs:schema>